# SQLAlchemy engine logs (False/True)
DATABASE_ECHO=False

# SQLAlchemy logging level (30=WARNING, 20=INFO, 10=DEBUG)
SQLALCHEMY_LEVEL=30

# PgBouncer connection URL
DATABASE_URL=postgresql+asyncpg://alfacat:alfacatpwd@pgbouncer:6432/iron_track

# PgBouncer integration toggle
PGBOUNCER_ENABLED=True

# Сache
REDIS_URL=redis://valkey:6379/0

# Application environment mode
APP_ENVIRONMENT=dev

# Application root loging level (30=WARNING, 20=INFO, 10=DEBUG)
LOG_LEVEL=30

# JWT_PRIVATE_KEY for development only
# WARNING: DO NOT use this key in production
# Generate a new one using 'make gen-key' if needed
JWT_PRIVATE_KEY='{"crv": "Ed25519", "x": "5pLIXfOMlpoZcSDfxRYyDlHYQiLiQ3-65Flo4Tmw-fA", "d": "icg3jyODhRJJqg2s0AT1DVleoH1MGYtmgFibFMHhpxI", "kty": "OKP"}'

