# SQLAlchemy engine and pool logs (False/True)
DATABASE_ECHO=False
DATABASE_ECHO_POOL=False

# SQLAlchemy logging level (30=WARNING, 20=INFO, 10=DEBUG)
SQLALCHEMY_LEVEL=30

# PgBouncer connection URL
DATABASE_URL=postgresql+asyncpg://alfacat:alfacatpwd@pgbouncer:6432/iron_track

# PgBouncer integration toggle
PGBOUNCER_ENABLED=True

# Сache
REDIS_URL=redis://valkey:6379/0

# Application environment mode
APP_ENVIRONMENT=prod

# Application root loging level (30=WARNING, 20=INFO, 10=DEBUG)
LOG_LEVEL=30

# Granian configuration
GRANIAN_INTERFACE=asgi
GRANIAN_WORKERS=8
GRANIAN_RUNTIME_THREADS=2
GRANIAN_LOOP=auto
GRANIAN_BACKLOG=2048
GRANIAN_RUNTIME_MODE=mt
GRANIAN_TASK_IMPL=asyncio
GRANIAN_HTTP=auto
GRANIAN_LOG_ACCESS_ENABLED=False

# Angie configuration
ALLOWED_ORIGINS_REGEX=https?://(localhost|app\.localhost|www\.yourdomain\.com|admin\.yourdomain\.com)
SERVER_NAME=app.localhost
# SSL certificates
SSL_CERT_PATH=/certs/local-cert.pem
SSL_KEY_PATH=/certs/local-key.pem
