default_language_version:
  python: "3.12"
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [css, markdown, text, svg]
      - id: trailing-whitespace
        exclude_types: [html, markdown, text]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-toml
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: "uv.lock"
        additional_dependencies:
          - tomli
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        exclude: ^src/app/db/alembic/
        additional_dependencies:
          - "advanced-alchemy[uuid]"
          - "fastapi>=0.116.1"
          - "pydantic>=2.11.7"
          - "asyncpg>=0.30.0"
          - types-click
          - fastapi-cache2
          - msgspec
          - "pyjwt[crypto]"
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: "v1.0.2"
    hooks:
      - id: sphinx-lint
